@use '~@angular/material' as mat;

h2,
h4 {
    font-family: "Nunito";
    padding: 0px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

.checkout-form-section {
    width: 100%;
    display: flex;
    font-family: "Nunito";
    &__checkout-form {
        padding: 0px 10px;
        width: 100%;
        flex: 1;
    }

    &__article {
        flex: 1;
        &__order-summary {
            margin-bottom: 30px;
        }
    }
}

.checkout-full-width {
    width: 100%;
}

.item {
    display: flex;
    width: 100%;
    align-items: flex-start;
}

.item>h4 {
    flex: 1;
}

.item-price {
    order: 2;
    flex: 1;
    text-align: right;
}

mat-card-title, mat-card-content {
    font-family: 'Nunito';
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 10px !important;
    font-family: "Nunito";
}

button {
    font-family: "Nunito";
}

button:disabled {
    @include mat.elevation(0);
}

::ng-deep .mat-form-field-wrapper:focus {
    border: 1px solid black;
    @include mat.elevation(8);
}

::ng-deep .mat-form-field:focus {
    border: 1px solid black;
    @include mat.elevation(8);
}

@media screen and (max-width: 560px) {
    .checkout-form-section {
        display: flex;
        flex-direction: column;
        text-align: center;
        &__checkout-form {
            margin-bottom: 30px;
        }
    }
}
