<div class="apk-checkout">
    <section class="checkout-header">
        <header>
            <h2>
                ❤️ — Thank You
            </h2>
            <h4>For supposrting a small business during these times.<br> — Team APK</h4>
        </header>
    </section>
    <section class="checkout-form-section">
        <form class="checkout-form-section__checkout-form">
            <mat-form-field class="checkout-full-width" appearance="fill">
                <input matInput placeholder="Full Name" value="">
            </mat-form-field>

            <mat-form-field class="checkout-full-width" appearance="fill">
                <input matInput placeholder="Email address — optional" value="">
            </mat-form-field>

            <mat-form-field class="checkout-full-width" appearance="fill">
                <textarea matInput placeholder="Address with Landmark"></textarea>
            </mat-form-field>

            <mat-form-field class="checkout-full-width" appearance="fill">
                <input matInput placeholder="Pincode" value="">
            </mat-form-field>

            <mat-form-field class="checkout-full-width" appearance="fill">
                <input matInput placeholder="City" value="Pune">
            </mat-form-field>

            <mat-form-field class="checkout-full-width" appearance="fill">
                <textarea matInput placeholder="+91 ( Phone number )"></textarea>
            </mat-form-field>

            <button class="buy-cta" mat-raised-button [class.mat-elevation-z8]=true color="primary">Proceed to
                Finish</button>
        </form>
        <article class="checkout-form-section__article">
            <h4>
                TODO: Provide a way to cancel the order. And also, order id.<br>
                Note — This page will not navigate you to payment checkout page.<br>
                Clicking on "Proceed to Finish" says you have placed the order.<br>
                As of now we only accept payment made through COD mode or GPay ( in-person ).
                We are working on this space to make payment process for our customers smooth and easy. 💪
            </h4>
        </article>
    </section>
</div>