<div class="apk-checkout">
    <section class="checkout-header">
        <header>
            <h2>
                ❤️ — Thank You
            </h2>
            <h4>For supposrting a small business during these times.<br> — Team APK</h4>
        </header>
    </section>
    <section class="checkout-form-section">
        <form class="checkout-form-section__checkout-form" [formGroup]="formGroup">
            <mat-form-field class="checkout-full-width" appearance="fill">
                <input matInput placeholder="Full Name" formControlName="name">
                <mat-error *ngIf="name?.invalid">
                    We need to know your know your name.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="checkout-full-width" appearance="fill">
                <input matInput placeholder="Email address — optional" formControlName="email">
                <mat-error *ngIf="email?.invalid">
                    doesnt look like an email
                </mat-error>
            </mat-form-field>

            <mat-form-field class="checkout-full-width" appearance="fill">
                <textarea matInput placeholder="Address with Landmark" formControlName="address"></textarea>
                <mat-error *ngIf="address?.invalid">
                    Tell us your adress for delivery
                </mat-error>
            </mat-form-field>

            <mat-form-field class="checkout-full-width" appearance="fill">
                <input matInput placeholder="Pincode" formControlName="pincode">
                <mat-error *ngIf="pincode?.errors?.maxLength">
                    Does this pincode belong to Mars ?
                </mat-error>
                <mat-error *ngIf="pincode?.invalid">
                    This is incorrect in some way
                </mat-error>
            </mat-form-field>

            <mat-form-field class="checkout-full-width" appearance="fill">
                <input matInput placeholder="City" formControlName="city">
            </mat-form-field>

            <mat-form-field class="checkout-full-width" appearance="fill">
                <input matInput placeholder="+91 ( Phone number )" formControlName="phone">
                <mat-error *ngIf="phone?.errors?.maxLength && phone?.touched">
                    Incorrect number
                </mat-error>
                <mat-error *ngIf="phone?.errors?.minLength && phone?.touched">
                    Incorrect number
                </mat-error>
                <mat-error *ngIf="phone?.invalid">
                    This is compulsory
                </mat-error>
            </mat-form-field>

            <button [disabled]="formGroup.invalid" (click)="onSubmit()" class="buy-cta" mat-raised-button
                [class.mat-elevation-z8]=true color="primary">Proceed to
                Finish</button>
        </form>
        <article class="checkout-form-section__article">
            <div class="checkout-form-section__article__order-summary">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>🍚 Your Order Summary</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="item block-row order-items">
                            <h4>Product Name</h4>
                            <h4 class="item-price">₹ 3,00</h4>
                        </div>
                        <div class="item block-row order-items">
                            <small>Delivery charges</small>
                            <h4 class="item-price">₹ 30</h4>
                        </div>
                        <div class="item block-row order-items">
                            <h4>Total</h4>
                            <h4 class="item-price">₹ 3,30</h4>
                        </div>
                      </mat-card-content>
                </mat-card>
            </div>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            🙋‍♀️ Hey
                        </mat-panel-title>
                        <mat-panel-description>
                            Read before proceeding
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <h4>
                        TODO: Provide a way to cancel the order. And also, order id.<br>

                        Note — This page will not navigate you to payment checkout page.<br>
                        Clicking on "Proceed to Finish" says you have placed the order.<br>
                        As of now we only accept payment made through COD mode or GPay ( in-person ).
                        We are working on this space to make payment process for our customers smooth and easy. 💪
                    </h4>
                </mat-expansion-panel>
            </mat-accordion>
        </article>
    </section>
</div>