<div class="apk-product-details">
    <article class="apk-product-details__article">
        <section class="apk-product-details__article__sectiond">
            <img src="assets/chutney_product.jpg">
        </section>
        <section class="apk-product-details__article__sectioni">
            <div>
                <h2>
                    Crispy<br>
                    Spicy<br>
                    No Artificial Color<br>
                    Shelf Life around 3 months<br>
                </h2>
                <i>
                    This is a hand-made with ♥ and all safety care.
                </i>
                <!-- <i>💡: For Single product, show "BUY" button instead of "to Cart" button
                    <br>
                    For Multiple products, show "to Cart button" and then checkout page
                </i> -->
                <section class="qty-price">
                    <mat-form-field appearance="fill">
                        <mat-label>kg</mat-label>
                        <mat-select [(value)]="selectedValue" (selectionChange)="changeInSelection($event)">
                            <mat-option *ngFor="let qty of [1,2,3,4,5]" [value]="qty">
                                {{qty}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="qty-price__price">
                        <p>
                            ₹ {{calculatedPricePerKg}}
                        </p>
                    </div>
                </section>
                <div>
                    <!-- <button (click)="openSnackBar('to the cart 🍚')" class="buy-cta" mat-raised-button [class.mat-elevation-z8]=true color="primary">to Cart</button> -->
                    <button (click)="openSnackBar()" class="buy-cta" mat-raised-button [class.mat-elevation-z8]=true
                        color="primary">BUY</button>
                </div>
            </div>
        </section>
    </article>
    <div class="apk-product-details">
        <article class="apk-product-details__information">
            <h3>Miscellaneous</h3>
            <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in
                some form, by injected humour, or randomised words which don't look even slightly believable. If you are
                going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
                the
                middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as
                necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin
                words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks
                reasonable.
                The generated Lorem Ipsum is therefore always free from repetition, injected humour, or
                non-characteristic
                words etc.
            </p>
        </article>
    </div>
</div>