<mat-card class="apk-card">
    <mat-card-header>
        <mat-card-title>{{productName}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://web-dev.imgix.net/image/STd8eW8CSiNp5B1bX0R6Dww2eH32/Hdl5V6rz7DOLmC7LkYaX.jpg?fit=crop&h=240&w=354&auto=format&dpr=2&q=50" alt="Product Image">
    <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Available</button>
    </mat-card-actions>
</mat-card>