<mat-card class="apk-card">
    <mat-card-header>
        <mat-card-title>{{productName}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/chutney_product.jpg" alt="Product Image">
    <mat-card-content>
        <p>
            {{productDesc}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button *ngIf="availability">Available</button>
        <button mat-button *ngIf="!availability">Not Available</button>
    </mat-card-actions>
</mat-card>